<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../components/_links.ejs') %>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog | <%= article.title %></title>
  </head>
  <body>
    <%- include('../components/_navbar.ejs') %>
    <div class="container">
      <h1 class="mb-1"><%= article.title %></h1>
      <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
      <a href="/" class="btn btn-secondary">All Articles</a>
      <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

      <div><%- article.sanitizedHtml %></div>
    </div>
  </body>
</html>
